
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = "About";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/Assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Về chúng tôi</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Giới thiệu</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6" style="min-height: 350px;">
                <div class="position-relative h-100 wow zoomIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100 rounded" src="~/Assets/img/about.jpg"
                         style="object-fit: cover;" alt="">
                    <div class="bg-white border p-1 position-absolute bottom-0 end-0 mt-n4 me-n4">
                        <div class="border py-4 px-5">
                            <h4 class="mb-0"><span class="text-primary">Thương hiệu </span>Mới</h4>
                            <h4>Khách sạn <span class="text-primary">Sang trọng</span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Về chúng tôi</h6>
                <h1 class="mb-4">Chào mừng đến với <span class="text-primary text-uppercase">Artemis</span></h1>
                <p class="mb-4">
                    Artemis sẽ là sự lựa chọn lý tưởng dành cho bạn. Artemis tự hào với dịch vụ chăm sóc khách hàng tận tâm và chu đáo. 
                    Khách sạn có các phòng nghỉ sang trọng với trang thiết bị hiện đại và view đẹp, đảm bảo mang đến trải nghiệm thoải mái và tiện nghi cho du khách.
                </p>
                <p class="mb-4">
                    Ngoài ra, Artemis còn có nhà hàng phục vụ các món ăn đa dạng và ngon miệng, cùng với quầy bar phục vụ đồ uống hấp dẫn. 
                    Du khách cũng có thể thư giãn tại khu vực spa và phòng tập gym hoàn hảo. Với không gian sang trọng, dịch vụ tốt và đội ngũ nhân viên chuyên nghiệp, 
                    Artemis cam kết mang đến cho du khách những trải nghiệm đáng nhớ khi lưu trú tại đây.
                </p>
                <div class="row g-3">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-check text-primary me-2"></i>
                        <span>Trải nghiệm đẳng cấp</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <i class="fa fa-check text-primary me-2"></i>
                        <span>Bảo mật cao</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-check text-primary me-2"></i>
                        <span>Hồ bơi riêng</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <i class="fa fa-check text-primary me-2"></i>
                        <span>Hỗ trợ 24/7</span>
                    </div>
                </div>
                @*<a class="btn btn-primary py-3 px-5 mt-4" href="">Explore More</a>*@
            </div>
        </div>
    </div>
</div>


<div class="container-fluid my-5 p-0">
    <div class="row g-0">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="feature-item">
                <div class="position-relative">
                    <img class="img-fluid" src="~/Assets/img/feature-1.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="feature-item">
                <div class="position-relative">
                    <img class="img-fluid" src="~/Assets/img/feature-2.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="feature-item">
                <div class="position-relative">
                    <img class="img-fluid" src="~/Assets/img/feature-3.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="feature-item">
                <div class="position-relative">
                    <img class="img-fluid" src="~/Assets/img/feature-4.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 350px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100 rounded" src="~/Assets/img/feature.jpg"
                         style="object-fit: cover;" alt="">
                    <div class="bg-white border p-1 position-absolute top-0 end-0 mt-n4 me-n4">
                        <div class="border py-4 px-5">
                            <h1 class="display-4 text-primary mb-0">
                                15 <span class="fs-4 text-dark">Năm</span>
                            </h1>
                            <h4>Kinh nghiệm</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Điểm nổi bật</h6>
                <h1 class="mb-4">Tại sao nên chọn <span class="text-primary text-uppercase">Artemis</span></h1>
                <p class="mb-4">
                    Chúng tôi luôn mong muốn đem đến cho khách hàng của mình những trải nghiệm tuyệt vời nhất khi đến với Artemis.
                </p>
                <div class="row g-4">
                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-bed text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>Trải nghiệm thoải mái</h5>
                                <p class="m-0">
                                    Mang đến cảm giác thư giãn và thoải mái nhất.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-shield-alt text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>Bảo mật tuyệt đối</h5>
                                <p class="m-0">
                                    Hệ thống bảo mật thông tin cá nhân vô cùng chất lượng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>Hỗ trợ bạn 24/7</h5>
                                <p class="m-0">
                                    Bất kể lúc nào bạn cần, chúng tôi luôn sẵn sàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Thành viên</h6>
            <h1 class="mb-5"><span class="text-primary text-uppercase">Các thành viên</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/Assets/img/avatar.png" alt="avatar">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Name</h5>
                        <small>CEO/Fouder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/Assets/img/avatar.png" alt="avatar">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Name</h5>
                        <small>CEO/Fouder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/Assets/img/avatar.png" alt="avatar">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Name</h5>
                        <small>CEO/Fouder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/Assets/img/avatar.png" alt="avatar">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Name</h5>
                        <small>CEO/Fouder</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
