
@{
    Layout = null;
    ViewBag.title = "Forgot password confimation";
}

<h2 class="title">@ViewBag.title</h2>

<div>
    <h5>Please check your email and click link in email to reset password.</h5> <br />
    <p>Thank you! Have a good day...</p>
</div>

